<!-- @vars {
    "customer_name": "Customer's Name",
    "customer_email": "Customer's Email",
    "inquiry_subject": "Inquiry Subject",
    "sku": "Product SKU",
    "inquiry_message": "Inquiry Message"
} -->
<p><strong>New Product Inquiry</strong></p>
<p><strong>Name:</strong> {{var customer_name}}</p>
<p><strong>Email:</strong> {{var customer_email}}</p>
<p><strong>Subject:</strong> {{var inquiry_subject}}</p>
<p><strong>Product Sku:</strong> {{var sku}}</p>
<p><strong>Message:</strong> {{var inquiry_message}}</p>
